.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-left: 30%;
    margin-top: 10%;
    background-color: black;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #00ff25;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #fc49ab;
}

.ball {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #5fe8ff;
}